* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    position: relative;
    overflow: hidden;
}

body .game-screen {
    display: none;
    background: #CCC;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

body #GAME canvas {
    width: auto;
    height: 100%;
}

body #MAIN_MENU {
    padding-top: 20px;
}

body #MAIN_MENU DIV.menu-item {
    width: 40%;
    margin: 7px auto;
    cursor: pointer;
    margin-bottom: 5px;
    text-transform: uppercase;
    display: block;
}

body #GAME #frameRate {
    position: absolute;
    z-index: 999;
    right: 0;
    text-align: right;
}